body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Врахування межі елемента у розмір */
  }
  
  /* Зняття стилів для списків */
  ol, ul {
    list-style: none;
  }
  
  /* Видалення підкреслення посилань */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Скидання стилів для заголовків */
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /* Скидання для таблиць */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Скидання для кнопок */
  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  /* Встановлення мінімальної висоти для HTML і body */
  html, body {
    height: 100%;
    font-family: sans-serif; /* За замовчуванням */
  }
  
  /* Зняття стилів для зображень */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }